@mixin flexcontent {
  display: flex;
  justify-content: center;
  align-items: center;
}

$primaryColor: #318ce7;

.bgRepairServices {
  background: linear-gradient(45deg, #00000062, #00000054),
    url(../images/MService4Midsize.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 55vh;
  @include flexcontent();
  h1 {
    color: #fff;
    font-size: 2.5em;
    border-bottom: 1px solid #fff;
  }
}

/* Services */

.servicesSection {
  margin: 50px 0px;
  background-color: #fff;
}
