@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.strongHead {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 2px;
  font-size: 1.5em;
}

a {
  color: #000;
  text-decoration: none;
}

.mainSectionNavabar .emailPhoneIconTiming {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
  background-color: #000;
  color: #fff;
  font-size: 0.74em;
  flex-wrap: wrap;
  gap: 10px;
}
.mainSectionNavabar .emailPhoneIconTiming .socioicons a {
  color: #fff;
  transition: color 0.3s;
}
.mainSectionNavabar .emailPhoneIconTiming .socioicons a:hover:nth-child(1) {
  color: blue;
}
.mainSectionNavabar .emailPhoneIconTiming .socioicons a:hover:nth-child(2) {
  color: rgb(46, 46, 245);
}
.mainSectionNavabar .emailPhoneIconTiming .socioicons a:hover:nth-child(3) {
  color: purple;
}
.mainSectionNavabar .emailPhoneIconTiming .socioicons a:hover:nth-child(4) {
  color: green;
}
.mainSectionNavabar .emailPhoneIconTiming .socioicons a:hover:nth-child(5) {
  color: red;
}
.mainSectionNavabar .emailPhoneIconTiming .socioicons i {
  padding: 2px;
  margin: 0px 5px;
  cursor: pointer;
}
.mainSectionNavabar .emailPhoneIconTiming .callEmail .callNow a,
.mainSectionNavabar .emailPhoneIconTiming .callEmail .emailId a {
  color: #fff;
}
.mainSectionNavabar .pureNavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3137254902);
  z-index: 111;
}
.mainSectionNavabar .pureNavbar .LogoNameImg {
  background: linear-gradient(45deg, #3e94ea, rgba(66, 158, 251, 0.6745098039));
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2588235294);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.mainSectionNavabar .pureNavbar .LogoNameImg h1 {
  color: #fff;
}
.mainSectionNavabar .pureNavbar .ulBar {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 111;
}
.mainSectionNavabar .pureNavbar .ulBar li {
  margin: 2px 15px;
  list-style: none;
}
.mainSectionNavabar .pureNavbar .ulBar li a {
  position: relative;
  font-size: 1.1em;
  padding: 2px 4px;
  border-radius: 2px;
  transition: color 0.3s ease-in-out;
}
.mainSectionNavabar .pureNavbar .ulBar li a::before {
  content: "";
  background-color: #318ce7;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transition: width 0.3s ease-in-out;
}
.mainSectionNavabar .pureNavbar .ulBar li a:hover::before {
  width: 98%;
}
.mainSectionNavabar .pureNavbar .ulBar li a:hover {
  color: #fff;
}
.mainSectionNavabar .pureNavbar .menuToggle {
  display: none;
}

@media screen and (max-width: 895px) {
  .mainSectionNavabar .pureNavbar {
    position: relative;
  }
  .mainSectionNavabar .pureNavbar .ulBar {
    flex-direction: column;
    position: fixed;
    width: 0px;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: rgba(41, 40, 40, 0.8274509804);
    overflow: hidden;
    z-index: 111;
    transition: width 0.3s linear, overflow 0.3s linear;
  }
  .mainSectionNavabar .pureNavbar .ulBar li {
    padding: 5px;
    visibility: hidden;
  }
  .mainSectionNavabar .pureNavbar .ulBar.ulBarActive {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 80%;
    height: 100%;
    background-color: rgba(41, 40, 40, 0.8274509804);
    border: 1px solid #318ce7;
    border-left: none;
    z-index: 111;
  }
  .mainSectionNavabar .pureNavbar .ulBar.ulBarActive li {
    visibility: visible;
  }
  .mainSectionNavabar .pureNavbar .ulBar.ulBarActive li a {
    color: #fff;
    font-size: 1.4em;
  }
  .mainSectionNavabar .pureNavbar .menuToggle {
    display: block;
    position: absolute;
    top: 13px;
    right: 20px;
    margin-left: -90px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  .mainSectionNavabar .pureNavbar .menuToggle::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: #000;
    transform: translateY(-9px);
    transition: 0.5s;
    box-shadow: 0px 7px 0px #000;
  }
  .mainSectionNavabar .pureNavbar .menuToggle::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: #000;
    transform: translateY(5px);
    transition: 0.5s;
  }
  .mainSectionNavabar .pureNavbar .menuToggle.active::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 #000;
  }
  .mainSectionNavabar .pureNavbar .menuToggle.active::after {
    transform: translateY(0px) rotate(-45deg);
  }
}
@media screen and (max-width: 596px) {
  .mainSectionNavabar .pureNavbar .LogoNameImg {
    font-size: 0.7em;
  }
  .mainSectionNavabar .pureNavbar .ulBar li a {
    font-size: 0.8em;
  }
}
/* SlideShow Section */
.bgMainSection {
  position: relative;
}
.bgMainSection .slider {
  width: 1515px;
  max-width: 100vw;
  height: 500px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.bgMainSection .slider .bgShade {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2156862745);
  z-index: 1;
}
.bgMainSection .slider .list {
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
}
.bgMainSection .slider .list img {
  width: 1515px;
  max-width: 100vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bgMainSection .slider .buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  display: none;
}
.bgMainSection .slider .buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3333333333);
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}
.bgMainSection .slider .dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  display: none;
}
.bgMainSection .slider .dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}
.bgMainSection .slider .dots li li.active {
  width: 30px;
}
.bgMainSection .bgImgSection {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.1em;
  padding: 15px;
  color: #fff;
}
.bgMainSection .bgImgSection strong {
  font-size: 1.8em;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.bgMainSection .bgImgSection .btnWithWords {
  margin-top: 15px;
  box-sizing: content-box;
  background: transparent;
  height: 30px;
  padding: 2px 5px;
  display: flex;
  border: 1px solid #fff;
  cursor: pointer;
}
.bgMainSection .bgImgSection .btnWithWords strong {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  color: #fff;
}
.bgMainSection .bgImgSection .btnWithWords .words {
  overflow: hidden;
}
.bgMainSection .bgImgSection .btnWithWords .words span {
  display: block;
  height: 100%;
  padding-left: 8px;
  padding-top: 5px;
  animation: spin-words 6s infinite;
  color: rgb(196, 255, 250);
  font-family: "Montserrat";
  font-weight: 700;
}
@keyframes spin-words {
  10% {
    transform: translateY(-112%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-312%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-412%);
  }
  100% {
    transform: translateY(-400%);
  }
}

@media screen and (max-width: 496px) {
  .bgMainSection .bgImgSection strong {
    font-size: 1.2em;
    text-align: center;
  }
  .bgMainSection .bgImgSection p {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 768px) {
  .bgMainSection .slider {
    height: 300px;
  }
}
/* Why Choose Us Section */
.chooseUsSection {
  margin: 60px 0px;
}
.chooseUsSection .boxesOfChooseUs {
  padding: 15px 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, 35em);
  gap: 15px;
}
.chooseUsSection .boxesOfChooseUs .box1 i {
  font-size: 1.3em;
  padding: 5px 15px;
  margin: 5px 5px 5px 0px;
  color: #007acc;
  border-radius: 2px;
  text-align: center;
  scale: 2;
}

@media screen and (max-width: 588px) {
  .chooseUsSection .boxesOfChooseUs {
    display: grid;
    grid-template-columns: repeat(auto-fill, 25em);
    gap: 15px;
  }
}
@media screen and (max-width: 408px) {
  .chooseUsSection .boxesOfChooseUs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .chooseUsSection .boxesOfChooseUs .box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .chooseUsSection .boxesOfChooseUs .box1 p {
    text-align: center;
  }
}
/* Service Process */
.serviceProcessSection {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.4352941176), rgba(0, 0, 0, 0.3725490196)), url(../images/Circuitbaord.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 50vh;
  color: #fff;
}
.serviceProcessSection .serviceLine {
  text-align: center;
}
.serviceProcessSection .servicesSteps {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  height: 30vh;
}
.serviceProcessSection .servicesSteps span:nth-child(1) {
  font-size: 2.8em;
  font-weight: bolder;
  box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.368627451);
  padding: 5px 20px;
  border-radius: 50%;
}
.serviceProcessSection .servicesSteps span:nth-child(2) {
  font-size: 1.1em;
}
.serviceProcessSection .servicesSteps .steps {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.serviceProcessSection .servicesSteps .steps .fa-arrow-down {
  display: none;
}
.serviceProcessSection .servicesSteps i {
  font-size: 2.3em;
}
.serviceProcessSection .servicesSteps .secondIcon {
  color: #318ce7;
}
.serviceProcessSection .servicesSteps .step3 span:nth-child(1) {
  background-color: #318ce7;
  color: #000;
}

@media screen and (max-width: 895px) {
  .serviceProcessSection {
    height: 75vh;
  }
  .serviceProcessSection .servicesSteps {
    align-items: flex-start;
    flex-direction: column;
    margin-left: 199px;
    height: 85%;
  }
  .serviceProcessSection .servicesSteps span:nth-child(1) {
    font-size: 2em;
    padding: 5px 15px;
  }
  .serviceProcessSection .servicesSteps span:nth-child(2) {
    font-size: 1em;
  }
  .serviceProcessSection .servicesSteps .steps {
    position: relative;
  }
  .serviceProcessSection .servicesSteps .steps .fa-arrow-right {
    display: none;
  }
  .serviceProcessSection .servicesSteps .steps .fa-arrow-down {
    display: block;
    position: absolute;
    font-size: 1.5em;
    top: 58px;
    left: 15px;
  }
}
@media screen and (max-width: 597px) {
  .serviceProcessSection .servicesSteps {
    margin-left: 85px;
  }
}
@media screen and (max-width: 371px) {
  .serviceProcessSection {
    height: 80vh;
  }
  .serviceProcessSection .servicesSteps {
    margin-left: 15px;
  }
}
/* Services we Offer */
.servicesSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  background-color: #faf8f8;
}
.servicesSection .subServicesSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 25px;
  padding: 0px 15px;
}
.servicesSection .subServicesSection .sevicesBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: normal;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  gap: 5px;
}
.servicesSection .subServicesSection .sevicesBox:hover {
  transform: scale(1.02);
  border: 1px solid #007acc;
}
.servicesSection .subServicesSection .sevicesBox strong {
  text-transform: uppercase;
}
.servicesSection .subServicesSection .sevicesBox a {
  background-color: #318ce7;
  text-align: center;
  padding: 5px 2px;
  border-radius: 8px;
  color: #fff;
  transition: background-color 0.3s ease;
}
.servicesSection .subServicesSection .sevicesBox a:hover {
  background-color: #007acc;
}
.servicesSection .subServicesSection .sevicesBox .imgDiv img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.servicesSection .allServices {
  margin-top: 35px;
  background: transparent;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.6);
  display: flex;
}
.servicesSection .allServices a {
  flex-basis: 1;
  font-size: 1.2em;
  padding: 5px 15px;
  transition: color, background-color 0.3s ease-in-out;
}
.servicesSection .allServices a:hover {
  background-color: #318ce7;
  color: #fff;
}

@media screen and (max-width: 280px) {
  .servicesSection .subServicesSection {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}
/* repairStoreContent  - We are a Repair Store */
.repairStoreContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
  padding: 15px;
}
.repairStoreContent .imageAndContent {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.repairStoreContent .imageAndContent .mobileImg {
  width: 50%;
}
.repairStoreContent .imageAndContent .mobileImg img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.repairStoreContent .imageAndContent .contentPart {
  width: 50%;
}

@media screen and (max-width: 700px) {
  .repairStoreContent .imageAndContent {
    flex-direction: column;
  }
  .repairStoreContent .imageAndContent .mobileImg {
    width: 100%;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3960784314);
  }
  .repairStoreContent .imageAndContent .contentPart {
    width: 100%;
  }
}
/* What People Says About us */
.reviewSection {
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-top: 25px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 55px;
}
.reviewSection .reviewHere {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.reviewSection .reviewHere strong {
  font-size: 1.8em;
  border-bottom: 1px solid #000;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.reviewSection .reviewHere .review {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  padding: 15px;
  padding-bottom: 68px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.reviewSection .reviewHere .review .peopleImg {
  width: 102px;
  height: 85px;
  border-radius: 50%;
  overflow: hidden;
}
.reviewSection .reviewHere .review .peopleImg img {
  width: 100%;
  transform: translateY(15px);
  scale: 2;
  -o-object-fit: cover;
     object-fit: cover;
}
.reviewSection .reviewHere .review span {
  margin: 15px 0px;
  font-size: 1.2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: underline;
}
.reviewSection .reviewHere .review p {
  text-align: center;
  font-size: 1.1em;
}
.reviewSection .reviewHere .btns {
  position: absolute;
  top: 26px;
  right: 25px;
}
.reviewSection .reviewHere .btns button {
  background-color: #fff;
  border-radius: 5px;
  outline: none;
  padding: 7px 10px;
  margin-top: 15px;
  cursor: pointer;
  border: none;
  font-family: sans-serif;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2588235294);
  background-color: #25a4f9;
  color: #fff;
  transition: box-shadow 0.3s ease;
}
.reviewSection .reviewHere .btns button:hover {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2588235294);
  transform: scale(1.05);
}
.reviewSection .reviewHere .starsDate {
  position: absolute;
  bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.reviewSection .reviewHere .starsDate .star {
  color: #ed1b24;
}

@media screen and (max-width: 777px) {
  .reviewSection {
    flex-direction: column;
    min-height: 85vh;
    width: 100%;
  }
  .reviewSection .reviewHere {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .reviewSection {
    flex-direction: column;
  }
  .reviewSection .reviewHere {
    width: 100%;
  }
  .reviewSection .reviewHere .btns {
    top: 20px;
  }
  .reviewSection .reviewHere strong {
    font-size: 1.2em;
  }
}
/* footerSection */
.footerSection {
  background-color: #00308f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px 15px;
  gap: 25px;
  flex-wrap: wrap;
}
.footerSection strong {
  text-decoration: underline;
  font-size: 1.2em;
}
.footerSection a {
  color: #fff;
}
.footerSection li {
  list-style: none;
  margin: 15px 0px;
}
.footerSection .footerLogo {
  border: 1px solid #fff;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerSection .quickServices a {
  border: 1px solid #fff;
  padding: 3px 7px;
  text-transform: uppercase;
  font-size: 0.8em;
  background-color: #fff;
  color: #000;
  font-weight: 700;
}
.footerSection .quickContacts {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: normal;
  gap: 15px;
  flex-direction: column;
}

.copyrightLine {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #000;
  color: #fff;
  padding: 15px 5px;
}
.copyrightLine .socioicons a {
  color: #fff;
  margin: 0px 3px;
  transition: color 0.3s;
}
.copyrightLine .socioicons a:hover:nth-child(1) {
  color: blue;
}
.copyrightLine .socioicons a:hover:nth-child(2) {
  color: rgb(46, 46, 245);
}
.copyrightLine .socioicons a:hover:nth-child(3) {
  color: purple;
}
.copyrightLine .socioicons a:hover:nth-child(4) {
  color: green;
}
.copyrightLine .socioicons a:hover:nth-child(5) {
  color: red;
}

@media screen and (max-width: 443px) {
  .footerSection {
    flex-direction: column;
  }
}
.bottomWhatsapp {
  position: fixed;
  bottom: 15px;
  right: 10px;
  background-color: #25d366;
  padding: 5px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4980392157);
  border-radius: 5px;
  cursor: pointer;
}
.bottomWhatsapp i {
  font-size: 1.9em;
}

.gotoTop {
  bottom: 65px;
  position: fixed;
  bottom: 63px;
  right: 10px;
  padding: 2px 5px;
  background-color: #1877f2;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4980392157);
  cursor: pointer;
  display: none;
}
.gotoTop i {
  font-size: 1.9em;
}/*# sourceMappingURL=style.css.map */